$primary: #e7a846;
$secondary: #2244cb;


@import "~bootstrap/scss/bootstrap";

section.hero {
  text-align: right;
  @include padding-right(6rem);

  .hero-heading {
    font-size: 4em;
  }

  .hero-subtitle {
    font-size: 2em;
  }
}

section.services {
  .card {
    h2 {
      font-size: 1.8em;
    }

    .card-text {
      padding-block: 1rem;
    }

    &:hover {
      background-color: #eee;
    }
  }
}
