$primary: #2763a4;
$primary-light: lighten($primary, 55%);
$secondary: #ffdd0e;
$secondary-light: lighten($secondary, 40%);

$btn-padding-x: 1.5rem;
$btn-padding-y: .7rem;
$btn-border-radius: 4px;
$card-spacer-x: 1.5rem;
$card-spacer-y: 1.3rem;

$font-family-base: "Noto Sans", Arial, Helvetica, sans-serif;


@import "~bootstrap/scss/bootstrap";


.navbar {

  a {
    //color: rgba(255, 255, 255, 0.84);
  }
}

section .section-header h2 {
  text-align: center;
  padding-block: 2rem;
}

#hero {
  text-align: center;
  background-color: #283b60;
  color: white;
  background-image: url("../img/priroda.jpg");
  background-size: cover;
  background-position: center top;
  padding-block: 10rem;

  .hero-heading {
    font-size: 4em;
  }

  .hero-subtitle {
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  .hero-text {
    margin-top: 1rem;
    font-size: 1.3em;
  }
}

#services {
  .card {
    h2 {
      font-size: 1.7em;
    }

    .card-text {
      padding-block: 1rem;
    }

    &:hover {
      background-color: #eee;
    }
  }
}

#massages {
  background-color: $secondary-light;

  img.massage-image {
    width: 100%;

  }

  .price-table {
    td {
      text-align: right
    }
  }
}

#events {
  .card-header {
    background-color: $primary-light;
  }
  .card h3 {
    margin-bottom: 2rem;
  }
}

#stays {
  background-color: $secondary-light;
}

#about-me {
  blockquote {
    font-weight: bold;
    text-transform: uppercase;

    .name {
      font-weight: normal;
      text-transform: none;
    }
  }
}

#contact {
  background-size: auto;
  background: #2763A4 url("../img/Footer Sunflowers.png") repeat-x center bottom;
  padding-bottom: 350px;
  color: white;

  a {
    color: #afc3e1;
  }
}